<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootsrap  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" 
    crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">

    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Castoro&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">

    <!-- scroll animation -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />


    
    <header id="header" class="d-flex flex-column justify-content-center">


    <title>Its Zakish</title>
</head>
<body>



        
    <!-- navbar menu -->
    <nav id="navbar" class="navbar nav-menu">
        <ul>
          <li><a href="#hero" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Home</span></a></li>
          <li><a href="#about" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>About</span></a></li>
          <li><a href="#portofolio" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Portofolio</span></a></li>
          <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
        </ul>
      </nav>

    </header>

    <!-- hero -->
    <section id="hero" class="d-flex flex-column justify-content-center">
        <div class="container" data-aos="zoom-in" data-aos-delay="100">
            <p class="text-center">Zakish</p>   
        </div>
    </section>
  
    <!-- about -->
        <div data-aos="fade-up" id = 'about'  class="about">
            <div class="section-title">
                <h2>About</h2>
                <p>Hi, I'm an IR graduate switched my career to tech. I've been fluent in project management, research, and currently is enrolled as one of awardee of SYNERGY program by BCA and Binar Academy in taking Full Stack Web Class. Would love to hear any possibility of partnership. 
                </p>

            </div>

        </div>

        <!-- portofolio -->
        <h2>My Previous Project</h2>
        <div id = 'portofolio'  data-aos="fade-down">
        
                <section class="section-projects">
                    <ul class="projects-showcase clearfix">
                        <li>
                            <figure class="project-photo">
                                <img src="/img/abu-robocon.jpeg" alt="ABU robocon yogya">
                            </figure>
                        </li>
                        <li>
                            <figure class="project-photo">
                                <img src="/img/berlin.JPG" alt="cultural exchange">
                            </figure>
                        </li>
                        <li>
                            <figure class="project-photo">
                                <img src="/img/expo-2017.jpg" alt="expo 2017">
                            </figure>
                        </li>
                        <li>
                            <figure class="project-photo">
                                <img src="/img/future-indonesia.jpeg" alt="future indonesia">
                            </figure>
                        </li>
                    </ul>
                    <ul class="projects-showcase clearfix">
                        <li>
                            <figure class="project-photo">
                                <img src="/img/isfit.jpg" alt="isfit-group">
                            </figure>
                        </li>
                        <li>
                            <figure class="project-photo">
                                <img src="/img/germany-hr.jpg" alt="human right workshop">
                            </figure>
                        </li>
                        <li>
                            <figure class="project-photo">
                                <img src="/img/clickargo.jpg" alt="clickargo">
                            </figure>
                        </li>
                        <li>
                            <figure class="project-photo">
                                <img src="/img/isfit.jpg" alt="isfit">
                            </figure>
                        </li>
                    </ul>
                </section>
           

        </div>

        <!-- contact -->
        <div id = 'contact'  class="contact animation-element bounce-up cf">
            <h2>Contact me</h2>
            <form action="action_page.php">

                <label for="fname">Name</label>
                <input type="text" id="fname" name="firstname" placeholder="Hi, I'm Zaki, who's yours?">
                      
                <label for="country">Country</label>
                <input type="text" id="country" name="country" placeholder="I'm from Indonesia, yourself?">
            
                <label for="subject">Subject</label>
                <textarea id="subject" name="subject" placeholder="Please put your inquiries here!" style="height:200px"></textarea>
            
                <input id="button" type="submit" value="Submit">
            
            </form>
    </div>


      
<!-- jquery source -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- jquery validation form -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
<script src="/js/script.js/script.js"></script>

<!-- Animation on scroll script -->
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init();
</script>


<!-- event listener on submit button-->
<script>
    $("#button").on('click', function(){
        alert('Thank you for reaching me out, I will be back to you as soon as I can')
    })
</script>


</body>
</html>