/* Reusable */
h2 {
	font-size: 50px;
	word-spacing: 2px;
	text-align: center;
	margin-bottom: 30px;
	letter-spacing: 1px; 
}



h2:after {
  display: block;
  height: 2px;
  background-color: #0f0f0e;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}

#contact h2:after {
  display: block;
  height: 2px;
  background-color: #fafaf2;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}


/* header */

#header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 9997;
    transition: all 0.5s;
    padding: 15px;
    overflow-y: auto;
  }

/* navbar */

.nav-menu {
    padding: 0;
    display: block;
  }
  
  .nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .nav-menu > ul > li {
    position: relative;
    white-space: nowrap;
  }
  
  .nav-menu a, .nav-menu a:focus {
    display: flex;
    align-items: center;
    color: #45505b;
    padding: 10px 18px;
    margin-bottom: 8px;
    transition: 0.3s;
    font-size: 15px;
    border-radius: 50px;
    background: #f2f3f5;
    height: 56px;
    width: 100%;
    overflow: hidden;
    transition: 0.5s;
  }
  
  .nav-menu a i, .nav-menu a:focus i {
    font-size: 20px;
  }
  
  .nav-menu a span, .nav-menu a:focus span {
    padding: 0 5px 0 7px;
    color: #45505b;
    font-family: 'Quicksand', sans-serif;
  }
  
  .nav-menu a:hover, .nav-menu .active, .nav-menu .active:focus, .nav-menu li:hover > a {
    color: #fff;
    background: #0563bb;
  }
  
  .nav-menu a:hover span, .nav-menu .active span, .nav-menu .active:focus span, .nav-menu li:hover > a span {
    color: #fff;
  }
  
  .nav-menu a:hover, .nav-menu li:hover > a {
    width: 100%;
    color: #fff;
  }
  
  .nav-menu a:hover span, .nav-menu li:hover > a span {
    display: block;
  }


/* hero */
#hero {
    width: 100%;
    height: 100vh;
    background: url("../img/2018-10-12\ 07.00.41\ 1.jpg") top right no-repeat;
    background-size: cover;
    position: relative;
  }

#hero:before {
    content: "";
    background: rgba(255, 255, 255, 0.11);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }

#hero .text-center {
  margin: 0;
  font-size: 50px;
  font-weight: 700;
  line-height: 56px;
  color: #f1f1f1;
  text-shadow: 2px 2px 4px #000000;
  font-family: 'Castoro', serif;
}

div {
  text-align: center;
  padding: 50px 100px;
  text-align: justify;
  text-justify: inter-word;
}

/* contact me */
 input[type=text], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical 
}


input[type=submit] {
  background-color: #0563bb;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


input[type=submit]:hover {
  background-color: #f8f3ef;
  color: #000;
}

.contact{
  border-radius: 5px;
  background-color: #582828;
  padding: 150px;
} 

/* portfolio */

section {
  padding: 80px 0; 
}

.section-features .long-copy {
  margin-bottom: 30px;
}

.section-projects {
  padding: 0;
}

.projects-showcase {
  list-style: none;
  width: 100%;
}

.projects-showcase li {
  display: block;
  float: left;
  width: 25%;
}

.project-photo {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background: #000;
}

.project-photo img {
  opacity: 0.7;
  width: 100%;
  height: auto;
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15);
  -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s;
}

.project-photo img:hover {
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
  opacity: 1;
}


