<!DOCTYPE html>
<html lang="en">
    <!-- Header -->
    <%- include('../partials/header'); %>
    <body class="d-flex">
        <div class="py-5 px-3 mx-auto text-center" style="width:100%;max-width: 330px">
            <h1>Log In</h1><br>
            <!-- Code ini akan berjalan bila terjadi error -->
            <% if (locals.message) { %>
                <h5><%= message %></h5>
            <% } %>

            <form action="/login" method="POST">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="registerUsername" name="username" placeholder="username" required>
                    <label for="username">Username</label>
                </div>
                <div class="form-floating mb-5">
                    <input type="password" class="form-control" id="registerPassword" name="password" placeholder="password" required>
                    <label for="password">Password</label>
                </div>
                <button type="submit" class="w-100 btn btn-lg btn-primary">Log In</button>
            </form>
            <br>
            <hr>
            <p>Don't have an account? <a href="/register" class="text-decoration-none fw-bold">Sign Up</a></p>
        </div>
    </body>
</html>