<!DOCTYPE html>
<html lang="en">
    <!-- Header -->
    <%- include('../partials/header'); %>
    <body>
        <!-- Navbar -->
        <%- include('../partials/navbar'); %>

        <!-- Content -->
        <div class="container">
            <h1>Hai, kamu adalah <%= user.username %></h1>
        </div>

        <!-- Footer -->
        <%- include('../partials/footer'); %>
    </body>
</html>